body {
    width: 100%;
    margin: 0;
}

#slider-wrapper {
    width: 600px;
    height: 300px;
    overflow: hidden;
    box-sizing: border-box;
    background-color: transparent;
    margin: 20% auto;
    position: relative;
}

#slider {
    display: flex;
    justify-content: center;
    transform-style: preserve-3d;
    position: absolute;
}

.slide {
    height: 300px;
    width: 600px;
    position: absolute;
    opacity: 0;
    left: 50%;
    z-index: 1;
    transition: opacity .5s;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: white;
}


.show-slide {
    z-index: 2;
    opacity: 1;
}


.left-arrow {
    font-size: 30px;
    position: absolute;
    z-index: 1;
    top: 45%;
}

.right-arrow {
    font-size: 30px;
    position: absolute;
    z-index: 1;
    top: 45%;
    right: 0;
}

