body {
    width: 100%;
    margin: 0;
}

#slider-wrapper {
    width: 800px;
    height: 400px;
    overflow: hidden;
    box-sizing: border-box;
    background-color: transparent;
    margin: 10% auto 1%;
    position: relative;
    border-radius: 5px;
}

#slider {
    display: flex;
    justify-content: center;
    position: absolute;
    transition: transform .5s;
}

.slide {
    height: 400px;
    width: 800px;
    z-index: 2;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: white;
    left: 50%;
    background-size: 800px 400px;
}


.slider-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 3;
    left: calc(50% - 40px);
    bottom: 10px;
}

.slider-dot {
    width: 13px;
    height: 13px;
    background-color: grey;
    margin: 5px;
    border: 2px solid grey;
    border-radius: 50%;
}

.slider-dot:hover {
    background-color: white;
    cursor: pointer;
}

.current-dot {
    background-color: white;
}

.left-arrow {
    font-size: 30px;
    text-align: center;
    position: absolute;
    z-index: 3;
    top: 45%;
    cursor: pointer;
    background-color: rgba(237, 233, 232, 0.7);
    width: 30px;
    height: 30px;
}

.right-arrow {
    font-size: 30px;
    text-align: center;
    position: absolute;
    z-index: 3;
    top: 45%;
    right: 0;
    cursor: pointer;
    background-color: rgba(237, 233, 232, 0.7);
    width: 30px;
    height: 30px;
}